<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>YapGoogleClientID</key>
	<string>696553061357-u7j8v96hlg5qms17kc9rea8cjtb8ksoh.apps.googleusercontent.com</string>
	<key>YapGoogleClientSecret</key>
	<string>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</string>
</dict>
</plist>
